<%= form_with(model: prompt) do |form| %>

  <%= render 'prompt_errors', prompt: prompt %>

  <div>
    <%= form.label :ai_name, style: "display: block" %>
    <%= form.text_field :ai_name %>
  </div>

  <div>
    <%= form.label :setting, style: "display: block" %>
    <%= form.text_area :setting %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <% if current_or_guest_user.is_admin %>
    <div>
      <%= form.label :visible_to_all?, style: "display: checkbox" %>
      <%= form.check_box :visible_to_all? %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
