<%= form_with(model: prompt, class: "form") do |form| %>

  <%= render 'prompt_errors', prompt: prompt %>

  <div class="mb-3">
    <%= form.label :ai_name, class: "form-label" %>
    <%= form.text_field :ai_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :setting, class: "form-label" %>
    <%= form.text_area :setting, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <% if current_or_guest_user.is_admin %>
    <div class="mb-3 form-check">
      <%= form.check_box :visible_to_all, class: "form-check-input" %>
      <%= form.label :visible_to_all, class: "form-check-label" %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit "Submit", class: "btn btn-dark" %>
  </div>
<% end %>

