<div id="<%= dom_id prompt %>">
  <p>
    <strong>Ai name:</strong>
    <%= prompt.ai_name %>
  </p>

  <p>
    <strong>Setting:</strong>
    <%= prompt.setting %>
  </p>

  <p>
    <strong>Training language:</strong>
    <%= prompt.training_language %>
  </p>

  <p>
    <strong>Native language:</strong>
    <%= prompt.native_language %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= prompt.user_id %>
  </p>

  <p>
    <strong>Visible to all:</strong>
    <%= prompt.visible_to_all %>
  </p>

</div>
