<div id="<%= dom_id prompt %>">
  <p>
    <strong>Ai name:</strong>
    <%= prompt.ai_name %>
  </p>

  <p>
    <strong>Setting:</strong>
    <%= prompt.setting %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt.description %>
  </p>

  <% if user_can_modify(@prompt, current_or_guest_user)%>
    <p>
      <strong>visible_to_all:</strong>
      <%= prompt.visible_to_all %>
    </p>
  <%end%>


</div>
