<%= render 'navbar' %>

<div class="backgroundContainer">

  <div class="container d-flex justify-content-center align-items-center">
    <div class="jumbotron formJumbotron">
      <h1 class="display-4"> <%= @prompt.ai_name %> </h1>

          <p>
            <strong> Setting:</strong>
            <%= @prompt.setting %>
          </p>

          <p>
            <strong> Description: </strong>
            <%= @prompt.description %>
          </p>

          <p>
            <strong> Visible To: </strong>
            <% if @prompt.visible_to_all %>
            Everyone
            <% else%>
            Just You
            <%end %>
          </p>
      
      <hr class="my-4">

    <%= link_to "Start conversation", new_prompt_conversation_path(@prompt), class: "btn btn-outline-dark mx-1" %>
    <%= link_to "Back to Prompts", prompts_path, class: "btn btn-outline-dark mx-1" %>
    <div class="btn-group">
      <%= button_to "Delete Prompt", prompt_path(@prompt), method: :delete, class: "btn btn-outline-danger" %>
    </div>

    </div>
  </div>


</div>