<div id="<%= dom_id conversation %>">
  <p>
    <strong>Training language:</strong>
    <%= conversation.training_language %>
  </p>

  <p>
    <strong>Native language:</strong>
    <%= conversation.native_language %>
  </p>

  <%= turbo_stream_from @conversation.id %>

  <div id="messages">
    <%= render @messages %>
  </div>

</div>

