<%= render 'navbar' %>
<%= turbo_stream_from @conversation.id %>

<div class="backgroundContainer">

  <div class="d-flex justify-content-center py-5 conversationContainer">
    <div class="jumbotron conversationJumbotron py-5 px-3 px-sm-5">
        <%= render @conversation %>

        <div>
          <div id="message_form">
          <%= render "messages/message_form", message: @new_message %>
          </div>
          <%= button_to "End conversation", prompt_conversation_path(@prompt, @conversation), method: :delete, class: "btn btn-outline-dark mt-1" %>
        </div>

    </div>
  </div>


</div>